cg
cg_grader
pr 
pr_grader
bfs
bfs_grader
bin.graph
graphTools

mpi_hello
pi_block_linear
pi_block_tree
pi_gather
pi_nonblock_linear
pi_one_side
pi_reduce
ping_pong
config
host*

*.txt

*.tgz

*.zip
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
